<p-table [value]="data">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of cols">
          {{col.header}}
        </th>
        <th>Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="cols">
      <tr>
        <td *ngFor="let col of cols">
          {{rowData[col.field]}}
        </td>
        <td>
          <button pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="onEdit(rowData)"></button>
          <button pButton type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="onDelete(rowData)"></button>
        </td>
      </tr>
    </ng-template>
</p-table>